{% extends 'index.html' %}
{% load static %}
{% block body %}


<div class="feed-bg" style="background-image: linear-gradient(rgba(121, 156, 145, 0.425), rgba(157, 157, 163, 0.26));margin-top:-60px; width:100%;height:180vh;
background-size: cover;
background-position: center;">
<div class="container-fluid" style="width:90%;margin-top:8%;background-color:transperant;">
                    <div class="container-fluid"><br>
                      <h1 class="heading" style="background:transperant;margin-top:5%;margin-bottom:1%;font-size:2rem;"><span>view</span> feedback </h1>
                         </div>
                                <table id="example" class="display" style="width: 100%;
                                background-color: #FFFFFF;
                                border-collapse: collapse;
                                border-width: 1px;
                                border-color: #94FFBF;
                                border-style: solid;
                                color: #000000;box-shadow: 0px 30px 30px -30px rgba(71, 92, 92, 0.466);">
                                  <thead style="background-color:#7DCEA0;">
                                    <tr style="border-width: 1px;
                                    border-color: #018675;
                                    border-style: solid;
                                    padding: 13px; color:#fff">
                                      <th style="border-width: 1px;
                                      border-color: #94FFBF;
                                      border-style: solid;
                                      padding: 13px;text-align:center;">#</th>
                                      <th style="border-width: 1px;
                                      border-color: #94FFBF;
                                      border-style: solid;
                                      padding: 13px;text-align:center;">Full Name</th>
                                      <th style="border-width: 1px;
                                      border-color: #94FFBF;
                                      border-style: solid;
                                      padding: 13px;text-align:center;">Email</th>
                                      <th style="border-width: 1px;
                                      border-color: #94FFBF;
                                      border-style: solid;
                                      padding: 13px;text-align:center;">Contact</th>
                                      <th style="border-width: 1px;
                                      border-color: #94FFBF;
                                      border-style: solid;
                                      padding: 13px;text-align:center;">Messages</th>
                                      <th style="border-width: 1px;
                                      border-color: #94FFBF;
                                      border-style: solid;
                                      padding: 13px;text-align:center;">Action</th>

                                  </tr>
                              </thead>
                              <tbody>
                              {% for i in dis %}
                                <tr>
                                  <td style="color:#444;border-width: 1px;
                                  border-color: #94FFBF;
                                  border-style: solid;">{{forloop.counter}}</td>
                                  <td style="color:#444;border-width: 1px;
                                  border-color: #94FFBF;
                                  border-style: solid;">{{i.user.first_name}} {{i.user.user.last_name}}</td>
                                  <td style="color:#444;border-width: 1px;
                                  border-color: #94FFBF;
                                  border-style: solid;">{{i.user.email}}</td>
                                  <td style="color:#444;border-width: 1px;
                                  border-color: #94FFBF;
                                  border-style: solid;">{{i.user.patient_set.all.0.contact}}</td>
                                  <td style="color:#444;border-width: 1px;
                                  border-color: #94FFBF;
                                  border-style: solid;">{{i.messages}}</td>
                                  <td style="width:150px">
                                      <a href="{% url 'delete_feedback' i.id %}" ><button class="btn btn-outline-secondary" style="margin-left:20px" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></button></a></td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
{% endblock %}